<html>
    <head>
        <title>Test</title>
    </head>

    <body>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
            <div class="wrapper">
                <div class="title">Users</div>
                <div class="count">There are {{object_list.count}} users!</div>

                <a href="{% url 'new' %}">
                    <center>
                        <div class="button">New User</div>
                    </center>
                </a>
            {% for user in user_list %}
            <a href="/edit/{{ user.id }}/">
                <div class="user">
                    <div class="name">
                        {{ user.first_name }} {{ user.last_name }}
                        {% if user.role == 'admin' %}
                            (admin)
                        {% endif %}
                    </div>
                    <div class="smallertext">
                        {{ user.number }}
                    </div>
                    <div class="smallertext">
                        {{ user.email }}
                    </div>
                </div>
            </a>
            {% endfor %}
            </div>
    </body>
</html>

